/*登录页面的css样式*/
body{

    background: url("/sourceFile/indexSliderPicture/11.jpg") center center;
    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:2s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
    /* padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 0;
    overflow-x: hidden;*/
}
@keyframes myfirst
{
    0%   {background:url("/sourceFile/indexSliderPicture/11.jpg");}
    34%  {background:url("/sourceFile/indexSliderPicture/22.jpg");}
    67%  {background:url("/sourceFile/indexSliderPicture/33.jpg");}
    100% {background:url("/sourceFile/indexSliderPicture/44.jpg");}
}
.form{background: rgba(255,255,255,0.2);max-width:400px;padding: 15px;margin:120px auto;}
.form-login-div{}
/*阴影*/
.fa{display: inline-block;top: 31px;left: 6px;position: relative;color: #ccc;font-size: 18px;}
input[type="text"],input[type="password"]{
    padding-left:26px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
}
.checkbox{padding-left:21px;}
.left-adv{
    max-width: 811px;
    padding: 11px;
    margin: 100px auto;
}
.left-adv img{
    width: 100%;
    height:auto;
    margin: auto;
    object-position:center;
    object-fit:cover;
    text-align: center;
}
.form-reg {
    max-width: 330px;
    padding: 15px;
    margin: 100px auto;
}
.web-logo img{
    width:77px;
    height:77px;
}
.form-reg .form-signin-heading,
.form-reg .checkbox {
    margin-bottom: 10px;
}
.form-reg .checkbox {
    font-weight: normal;
    font-size: 15px;
}
.form-reg .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-reg .form-control:focus {
    z-index: 2;
}
/*.form-signin input[type="email"] {*/
/*    margin-bottom: -1px;*/
/*    border-bottom-right-radius: 0;*/
/*    border-bottom-left-radius: 0;*/
/*}*/
.form-reg input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-primary {
    background-color: #9BCD9B;
    border-color: #9BCD9B;
}
.btn-primary:hover {
    background-color: #7CCD7C;
    border-color: #7CCD7C;
}
.bottom-op-bar{
    height: 33px;
    line-height: 33px;
    margin: 4px auto;
}